@charset "utf-8";
/* CSS Document */

:root {
    --evecolor: rgba(208, 96, 185, 0.4);
    --daycolor: rgba(207, 248, 218, 0.51);
    --nightcolor: rgba(21, 30, 158, 0.3);
    --hovershade: rgba(32, 170, 194, 0.82);
    --nighttext: #000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --evecolor: rgba(24, 120, 86, 0.42);
        --daycolor: rgba(161, 229, 155, 0.45);
        --nightcolor: rgba(65, 56, 194, 0.29);
        --hovershade: rgba(255, 255, 255, 0.14);
        --nighttext: #dcd7d7;
    }
    input[type="date"] {
        background-color: #5d5d86;
        outline: none;
    }

    input[type="date"]::-webkit-clear-button {
        /*font-size: 18px;*/
        /*height: 30px;*/
        /*position: relative;*/
    }

    input[type="date"]::-webkit-inner-spin-button {
        /*height: 28px;*/
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        font-size: 15px;
        color: white !important;
    }
}

body {
    max-width: 1200px !important;
}

.time-table tr:not(:first-child):hover {
    background: none repeat scroll 0% 0% var(--hovershade);
    cursor: pointer;

    /*background: #002953;*/
}

.nightmeeting {
    background: none repeat scroll 0% 0% var(--nightcolor);
    color: var(--nighttext)
}
.eveningmeeting {
    background: none repeat scroll 0% 0% var(--evecolor);
}
.daymeeting {
    background: none repeat scroll 0% 0% var(--daycolor);
}

/*th {*/
/*    background: none repeat scroll 0% 0% #F7F7F7;*/
/*    border: 1px solid #FFFFFF;*/
/*    font-weight: normal;*/
/*    !*font-size: 12px;*!*/
/*    padding: 12px 4px;*/
/*    text-align: center;*/
/*}*/
tbody {
    font-size:10px;
}
@media only screen and (max-width: 600px) {
    tbody {
        font-size:7px;
    }
}
.time-table {
    color: var(--nc-tx-1);
    font-weight: normal;
    text-decoration: none;
}

body {
    background-color : white;
    color : black;
    margin-left : 0;
    margin-top : 0;
    padding-bottom: 0px;
}
